.faq-section {
  padding: 100px 0;
  position: relative;

  .faq-title {
    color: var(--bs-teal);
  }

  .faq-question {
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
  }

  .faq-answer {
    color: var(--bs-gray);
    font-size: 16px;
    padding-left: 1rem;
  }

  .faq-icon {
    color: var(--bs-teal) !important;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .faq-contact-btn {
    background-color: var(--bs-teal) !important;
    border: none !important;
    box-shadow: 0 3px 5px 0 rgb(0 201 167 / 10%) !important;
    padding: 8px 20px !important;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 6px;

    &:hover {
      background-color: #00967d !important;
      border-color: #00967d !important;
    }
  }

  .faq-contact {
    .title {
      letter-spacing: 0.5px;
      font-size: 30px !important;
    }
    p {
      color: #8492a6 !important;
    }
  }
}

.shape {
  position: absolute;
  pointer-events: none;
  right: 0;
  bottom: -2px;
  left: 0;
}
